<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your inventory item has reached zero</p>
    <p>
    Inventory details<br>
    --------------------------
    </p>
    <p>The Following Inventory Items Have Reached Zero:</p> 
    <% @user.items.each do |item| %>
      <% if item.count < 1 %>
        <p>--------------------------</p>
        <p>Item: <%= item %></p>
        <p>Quantity: <%= item.quantity %></p>
        <p>--------------------------</p>
      <% end %>
  </body>
</html>